body {
  background-color: #FFFAFB;
}

li{
  line-height: 25px;
}
ul{
  list-style-type: none;
}
* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;

}
.slick-arrow{
  display: none !important;
}

::-webkit-scrollbar {
  display: none;
}